<h1>Posts</h1>
<br/>
<br/>
<h1 *ngIf="!postsArray" >Loading</h1>
<table class="table" *ngIf="postsArray" >
    <thead class="thead-dark">
    <tr>
      <th scope="col">userId</th>
      <th scope="col">id</th>
      <th scope="col">title</th>
      <th scope="col">body</th>
    
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of postsArray">
      
      <td>
        <span>{{data.userId}}</span>
      </td>
      <td>
        <span>{{data.id}}</span>
      </td>
      <td>
        <span>{{data.title}}</span>
      </td>
      <td>
        <span>{{data.body}}</span>
      </td>
    
      
      
    </tr>
    </tbody>
  </table>